@media (max-width: 900px) {

    .conteudo-colaborador-pesquisar {
        padding: 14px;
        margin-left: 7px;
    }


    .conteudoDireitoColaborador {

        margin-top: -5px;
    }
    .botaoBuscar {
        margin-left: 10px;
    }
}