
.persistir-colaboradorProfissional,
.busca-colaboradorProfissional,
.lista-colaboradorProfissional {
    width: 100%;
    margin-bottom: 16px;
}

.conteudoEsquerdoColaboradorProfissional,
.conteudoDireitoColaboradorProfissional {
    padding: 40px;
}

.busca-colaboradorProfissional::after {
    margin-top: 10px;
    content: '';
    position: absolute;
    left: 25%;
    width: 50%;
    border-bottom: 0.2px solid #34495e;
}
.botaoColaboradorProfissional {
    margin-top: 13vh;
}

@media (max-width: 900px) {
    .conteudoDireitoColaboradorProfissional {
        padding: auto;
        margin-top: -7vh !important;
    }
    .botaoColaboradorProfissional {
        margin : 0;
    }
    .busca-colaboradorProfissional::after {
        content: none; 
        border: none;  
    }
    .busca-colaboradorProfissional {
        margin-left: 20px;
        margin-top: -12vh;
    }

}