.persistir-endereco,
.busca-endereco,
.lista-endereco {
    position: relative; 
    width: 100%;
    margin-bottom: 16px; 
}

.busca-endereco::after {
    margin-top: 10px;
    content: ''; 
    position: absolute;
    left: 25%; 
    width: 50%;
    border-bottom: 0.2px solid #34495e; 
    bottom: 0; 
}
.conteudoEsquerdoEndereco, .conteudoDireitoEndereco {
    padding: 40px;
}

@media (max-width: 900px) {
    .conteudoDireitoEndereco {
        padding: auto;
        margin-top: -7vh !important;
    }
}
