.datahora-servico {

    margin-top: -34px !important;
}

.error-message {
  display: block;
  font-size: 13px;    
  line-height: 12px;    
  margin: 0 0 12px;    
 white-space: nowrap;
}


.MuiFormControl-root:has(#minuto.label-error) {
  margin-top: 24px;
}


@media (max-width: 900px) {
.datahora-servico {
    margin-top: 0;
}
}