

.menu {
  background-image: url('http://makebe.com.br/imagens/banner_2.png') !important;
  background-size: cover;
  background-repeat: no-repeat; 
  }
  
  .imagem {
    height: 60px;
    position: absolute;
    margin-bottom: 40px;
  }
