.conteudoAutenticacao {
    height: 100%; 
    width: 100%;
}

.itemAutenticacao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 99%;
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;

}

.textoAutenticacao {
    margin: 10px;
    box-sizing: border-box;
    text-align: start;
}

.textoAutenticacao p {
    color: #F5F5F5;
    margin: 0;
    padding: 4px;

}

.botaoAutenticacao, .recaptcha {
        display: flex;
        justify-content: center;
        padding: 24px;
}
