.conteudoValidar {
    height: 100%; 
    width: 100%;
}

.itemValidar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F7F9F9;
    height: 99%;
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;

}

.textoValidar {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.textoValidar h2, .textoValidar p {
    color: #839192;
    margin: 0;
    padding: 10px;
}

.textoValidar a {
    color: #839192;
    margin: 0;
}
