

.itemValidar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 99%;
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;
    color: #F5F5F5;

}

.textoValidar {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.textoValidar h2, .textoValidar p {
    color: #839192;
    margin: 0;
    padding: 10px;
}
