.conteudoEsquerdoPerfil {
    padding: 60px;
}

.conteudoDiretirPerfil {
    padding: 60;
    margin-top: 17vh;
}

.stack {
    justify-content: start !important;
}


.botao {
    margin-top: 10px;
    text-align: right;
    display: inline;
    margin-right: 10px !important;
    display: flex;
    justify-content: flex-end;
}

.camposInvisiveis {
    display: none;
}

.messageText .texto {
    margin-top: 10px;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

@media (max-width: 900px) {
    .tituloUpload {
        padding: 0 !important;
        display: flex;
    }

    .formItens-imagem {
        margin-left: 43px;
    }

    .conteudoEsquerdoPerfil,
    .conteudoDiretirPerfil {
        padding: 0;
    }

    .conteudoDiretirPerfil {
        margin-top: -10 !important;
    }


}