.conteudoEsquedoRecupera,
.conteudoDireitoRecupera {
    height: 95% !important;
    padding: 80px;
    border-radius: 20px;
}

.itensEsquedoRecupera {
    text-align: center !important;

}

.itensEsquedoRecupera h2,
.itensEsquedoRecupera p {
    margin-top: 0;
}

@media (max-width: 900px) {

    .conteudoEsquedoRecupera,
    .conteudoDireitoRecupera {
        padding: 0px !important;
    }
    .ContainerGrid  {
        height: 100%;
    }
}