
.itemReenvia {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 99%;
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;

}

.textoReenvia {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}
.formItens {
    padding: auto;
}

.messageTextReenvia .texto {
    margin-top: 10px;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.textoReenvia p,  .botaoReenvia {
    color: #839192;
    margin: 0;
    padding: 30px;
}

.recaptcha {
    padding-left: 24px;
}