.itemReenvia {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 99%;
    width: 99%;
    margin-left: 10px;
    margin-top: 10px;

}

.textoReenvia {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}

.formItens {
    padding: auto;
}

.messageTextReenvia .texto {
    top: -100vh;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.textoReenvia p {
    color: #839192;
    margin: 0;
    padding: 30px;
}

.botaoReenvia button {
    background-color: #5dade2;
    color: white;
    border: none;
    padding: 12px 16px 12px 26px;
    border-radius: 6px;
    gap: 8px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button {
    background-color: #5dade2;
    color: white;
    border: none;
    padding: 12px 16px 12px 26px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.recaptcha {
    padding-left: 24px;
}