.conteudoEsquerdoAlteraSenha, .conteudoDireitoAlteraSenha {
    padding: 80px;
    margin-top: 10vh;
}

.textoReenvia {
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
}
.formItens {
    padding: auto;
}

.messageTextReenvia .texto {
    margin-top: 10px;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.textoReenvia p {
    color: #839192;
    margin: 0;
    padding: 30px;
}

.recaptcha {
    padding-left: 24px;
}