.gridContainer {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;

}

.gridDireito,
.gridEsquerdo {
    width: 100%;
    padding: 4px;
}

.conteudoEsquedoLogin {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.itensEsquedoLogin {
    text-align: center;
    margin-bottom: 300px;
}

.itensEsquedoLogin h2,
.itensEsquedoLogin p {
    margin-top: 0;
}


.conteudoEsquedoLogin,
.conteudoDireitoLogin {
    background-color: #F7F9F9;
    height: 95% !important;
    align-items: center;
    align-content: center;
    padding: 18px;
    border-radius: 20px;
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}



.esqueci-link,
.cadastrar-link {
    text-decoration: none;
    color: #5DADE2;
    font-size: 14px;
    padding: 10px;
}

.esqueci-link:hover,
.cadastrar-link:hover {
    color: #34495E
}

.botao {
    margin-top: 10px;
    text-align: right;
    display: inline;
    margin-right: 10px !important;

}

.social-icons {

    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 10px;
    background-color: transparent;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}

.messageError .texto {
    margin-top: 10px;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

@media (max-width: 900px) {
    .gridEsquerdo {
        display: none;
    }
}