.persistir-agenda,
.busca-agenda,
.lista-agenda {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.conteudoagenda {

    padding: 20px;
    margin-left: 10px;
}

.conteudoDireitoagenda {
    margin-left: 30px;
}


.conteudoEsquerdoAgenda,
.conteudoDireitoagenda {
    padding: 20px;
}

.itemPicker {
    padding-top: 10px;
    padding-bottom: 30px;
}

.itemPickerBaixo {
    padding-top: 10px;
}

.titulobusca {
    margin-left: 30px;
}

.formItensBusca {
    padding: 10px;
}

.busca-agenda::after {
    margin-top: 10px;
    content: '';
    position: absolute;
    left: 25%;
    width: 50%;
    border-bottom: 0.2px solid #34495e;
    bottom: 0;
}

.switch-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.date-time-itens {
    padding: 4px;
    display: inline-block; 
    cursor: pointer;    
}

@media (max-width: 900px) {
    .conteudoDireitoAgenda {
        padding: auto;
        margin-top: -2vh !important;
        margin-left: 10px;
    }

    .gridBotoes {
        margin-top: 100px !important;
    }
}