.ContainerGridAgendamento {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.drop-calendario {
  margin-left: 35px !important;
}

@media (max-width: 900px) {

  .drop-calendario {
    margin-left: 10px !important;
  }
}